div{
    width: 800px;
    margin: auto;
    text-align: center;
}

table{
    margin: auto;
    margin-top: 50px;
    background-color: blueviolet;
}

span{
    font-size: 75px;
}

button{
    margin-top: 100px;
    height: 50px;
    width: 100px;
}
